@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9798 0.0045 78.2983);
  --foreground: oklch(0.2567 0.0239 267.0898);
  --card: oklch(0.9938 0.0013 106.4231);
  --card-foreground: oklch(0.2567 0.0239 267.0898);
  --popover: oklch(0.9938 0.0013 106.4231);
  --popover-foreground: oklch(0.2567 0.0239 267.0898);
  --primary: oklch(0.5933 0.1505 245.3680);
  --primary-foreground: oklch(0.9842 0.0034 247.8575);
  --secondary: oklch(0.9421 0.0069 67.7414);
  --secondary-foreground: oklch(0.3052 0.0289 265.2115);
  --muted: oklch(0.9262 0.0063 75.4046);
  --muted-foreground: oklch(0.4960 0.0236 267.0785);
  --accent: oklch(0.9244 0.1203 95.8453);
  --accent-foreground: oklch(0.2567 0.0239 267.0898);
  --destructive: oklch(0.5785 0.2138 27.1723);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.8890 0.0088 84.5747);
  --input: oklch(0.8890 0.0088 84.5747);
  --ring: oklch(0.4133 0.1034 264.9465);
  --chart-1: oklch(0.8088 0.1699 75.2344);
  --chart-2: oklch(0.5499 0.2197 264.4382);
  --chart-3: oklch(0.7187 0 0);
  --chart-4: oklch(0.9189 0 0);
  --chart-5: oklch(0.5590 0 0);
  --sidebar: oklch(0.9911 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9401 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0 0 0);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 1.875rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2052 0.0167 268.8291);
  --foreground: oklch(0.9713 0.0062 75.4069);
  --card: oklch(0.2356 0.0202 267.8040);
  --card-foreground: oklch(0.9713 0.0062 75.4069);
  --popover: oklch(0.2356 0.0202 267.8040);
  --popover-foreground: oklch(0.9713 0.0062 75.4069);
  --primary: oklch(0.7418 0.1142 67.7857);
  --primary-foreground: oklch(0.2052 0.0167 268.8291);
  --secondary: oklch(0.2890 0.0214 265.8475);
  --secondary-foreground: oklch(0.9713 0.0062 75.4069);
  --muted: oklch(0.3090 0.0210 265.8998);
  --muted-foreground: oklch(0.7811 0.0296 79.4326);
  --accent: oklch(0.3020 0.0560 229.6950);
  --accent-foreground: oklch(0.9713 0.0062 75.4069);
  --destructive: oklch(0.4774 0.1626 25.9043);
  --destructive-foreground: oklch(0.9713 0.0062 75.4069);
  --border: oklch(0.3292 0.0224 267.3516);
  --input: oklch(0.3292 0.0224 267.3516);
  --ring: oklch(0.7418 0.1142 67.7857);
  --chart-1: oklch(0.8088 0.1699 75.2344);
  --chart-2: oklch(0.5811 0.2100 260.8318);
  --chart-3: oklch(0.5590 0 0);
  --chart-4: oklch(0.4386 0 0);
  --chart-5: oklch(0.9189 0 0);
  --sidebar: oklch(0.1822 0 0);
  --sidebar-foreground: oklch(1.0000 0 0);
  --sidebar-primary: oklch(1.0000 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.3211 0 0);
  --sidebar-accent-foreground: oklch(1.0000 0 0);
  --sidebar-border: oklch(0.3211 0 0);
  --sidebar-ring: oklch(0.7187 0 0);
  --font-sans: Geist, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 1.875rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 2px;
  --shadow-spread: 0px;
  --shadow-opacity: 0;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
